a:hover{
    text-decoration: none;
}
img{
    /* 所有img最大宽度不能超过父元素 */
    display: block;
    max-width: 100%;
    
}
img,.side-bar .list-group-item,.side-bar-card{
    border-radius: 3px;
}
.navbar-brand {
    background-image: url(../images/22.jpg);
    width: 50px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    /* 这样设置图片是用户没法拖拽和下载 */
}
.a-bar .list-group-item{
    border: 0px;
    border-radius: 3px;
    margin-bottom: 5px;
} 
.a-bar .list-group-item.active{
    /* active激活的 */
    background-color: #ea0c3c;
}

.news-list-item .title{
    display: block;
    color: #444;
    font-size: 18px;
    font-weight: bold;/* 粗体显示 */
    margin-bottom: 5px;
    line-height: 1.5;
}
.news-list-item .title:hover{
    color: #337ab7;
}
.news-list-item .info{
    color: #888;
}
.news-list-item{
    padding-bottom:15px;
    padding-top: 15px;
    border-bottom: 1px solid #eee;


}
.news-list-item:first-child{
    /* 选择这个列表里的第一个 */
    padding-top: 0px;
}
.avatar{
    display: inline-block;
}
.avatar img{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.side-bar-card{
    background-color: #000;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    padding: 20px 0;
    font-size: 100%;
}
.side-bar-card .card-title,.side-bar-card .card-body .list .item{
    padding:10px 15px;
}
.side-bar-card .card-title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}
.side-bar-card .card-body .list .item:hover{
    background: rgba(0, 0, 0, 0.04);
}
.side-bar-card .card-body .list .item .title{
    padding-bottom: 5px;
    font-size:110%;
}
.side-bar-card .card-body .list .item .desc{
    color: #999;
    
}
.news-status{
    color: #999;
}
.news-status .label{
    /* 透明度 */
    opacity:.6;
}
.news-content{
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.5;/* 1.5倍 */
}
.news-content img{
    margin-top: 10px;
}
.footer{
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    color: #999;
}
.container-small{
    max-width: 500px;
}
.btn-primary{
    background-color: #ea0c3c;
    border-color: #db0d3a;
}
.btn-primary:hover{
    background-color: #d50c37;
    border-color: #d50c37;
}